* {
    background-color: #121212;
    color: white;
    /* display: flex; */
    /* flex-direction: column; */
}

.nav-bar {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid white;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    margin-left: .5rem;
}

.nav-links a {
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 1em;
}

.new-post-form {
    width: 80%;
    margin: 0 10% 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid white;
}

}

.nav-links {
    justify-content: space-between;

}
